* {
	text-align: center;
}

form {
	margin-top: 50px;
	display: block;
}

h3 {
	color: green;
	font-family: cursive;
	margin-left: 2%;
}

label {
	display: block;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

img {
	margin-top: -100px;
}

.left {
	float: left;
	margin-left: 50px;
}

.right {
	float: right;
}

.texty {
	font-weight: bold;
	color: purple;
	display: none;
	margin-top: 50px;
}