* {
	text-align: center;
}

form {
	margin-top: 100px;
	display: block;
}

label {
	display: block;
}

.blue {
	background-color: blue;
}

img {
	margin-top: -100px;
}

.left {
	float: left;
	margin-left: 50px;
}

.right {
	float: right;
}